.footer-section {
  /* padding: 1rem 0; */
  /* border-top: solid 1px rgba(0, 0, 0, 0.259); */
}
.footer-content {
  padding: 2rem 0;
  border: solid 1px rgb(0, 0, 0);
  /* border-top-left-radius: 100px; */
  /* border-top-right-radius: 100px; */
  background: #311e59c6;
}
.footer-socials {
  padding: 1rem 0;
  text-align: center;
}
.footer-social-link {
  padding: 0 3rem 0 0;
  /* text-decoration: none; */
}
.footer-social-link-text {
  text-decoration-color: rgb(0, 0, 228);
  text-decoration-thickness: 2px;
  font-size: 1.4rem;
  color: white;
}
